<img src="../assets/logo.png">
<hr />
<div class="log">
	<ion-list>
		<ion-item>
		    <ion-label color="primary" stacked></ion-label>
		    <ion-input [(ngModel)]="user.usuario" type="usuario" placeholder="Usuario"></ion-input>
		</ion-item>

	<hr />

		<ion-item>
		    <ion-label color="primary" stacked></ion-label>
		    <ion-input [(ngModel)]="user.password" type="password" placeholder="Password"></ion-input>
		</ion-item>
		
	</ion-list>

	<button ion-button (tap)="login()">Iniciar Sesion</button>
</div>

<div>
	
	<!-- <button ion-button (tap)="signIn()" color="secondary">Registrarse</button> -->
</div>
<!-- 
<ion-content padding>
	<ion-list>

	  <ion-item *ngFor="let item of data">
	    <h2>{{item.Us_Apellido_P}}</h2>
	  </ion-item>

		<ion-item *ngFor="let item of data">
			<ion-item *ngIf="item.Us_Apellido_P">
				{{item.Us_Apellido_P}}
			</ion-item>
		</ion-item>

	</ion-list>
</ion-content>
-->